<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.exam.dao.TbCoachMapper">
  <resultMap id="BaseResultMap" type="com.project.exam.model.TbCoach">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="carno" jdbcType="VARCHAR" property="carno" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, carno, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_coach
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_coach
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.exam.model.TbCoach">
    insert into tb_coach (id, name, carno, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{carno,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.project.exam.model.TbCoach">
    insert into tb_coach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="carno != null">
        carno,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="carno != null">
        #{carno,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.exam.model.TbCoach">
    update tb_coach
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="carno != null">
        carno = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.exam.model.TbCoach">
    update tb_coach
    set name = #{name,jdbcType=VARCHAR},
      carno = #{carno,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from tb_coach order by create_time desc
  </select>
  <!-- 分页 -->
	<sql id="limit_sql">
		<if test="pageinfo.startIndex != null and pageinfo.paginationSize != null">
			limit #{pageinfo.startIndex},#{pageinfo.paginationSize}
		</if>
	</sql>
	<!-- 排序 -->
	<sql id="orderby_sql">
		ORDER BY create_time desc
	</sql>
  <!-- 获取符合条件的用户信息 分页展示 -->
  <select id="getDataList" resultMap="BaseResultMap">
		SELECT *
		FROM tb_coach
		<where>
			<if test="pageinfo.params != null">
				<if test="pageinfo.params.keyword != null">
					AND name like
					CONCAT('%','${pageinfo.params.keyword}','%' )
				</if>
			</if>
		</where>
		<include refid="orderby_sql" />
		<include refid="limit_sql" />
	</select>
	<select id="getDataTotalNum" resultType="java.lang.Integer">
		SELECT count(1)
		FROM tb_coach
		<where>
			<if test="pageinfo.params != null">
				<if test="pageinfo.params.userName != null">
					AND name like
					CONCAT('%','${pageinfo.params.keyword}','%' )
				</if>
			</if>
		</where>
	</select>
</mapper>