<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.exam.dao.f.FrontUserMapper">
  <resultMap id="BaseResultMap" type="com.project.exam.model.f.FrontUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, deleted, create_time, student_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from front_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from front_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.exam.model.f.FrontUser">
    insert into front_user (id, name, password, 
      deleted, create_time, student_no
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{studentNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.exam.model.f.FrontUser">
    insert into front_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="studentNo != null">
        student_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentNo != null">
        #{studentNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.exam.model.f.FrontUser">
    update front_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentNo != null">
        student_no = #{studentNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.exam.model.f.FrontUser">
    update front_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      student_no = #{studentNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByCondition" parameterType="com.name.electriccharge.model.FrontUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from front_user
    where student_no=#{studentNo} and password=#{password} 
    limit 0,1
  </select>
  <!-- 分页 -->
	<sql id="limit_sql">
		<if test="pageinfo.startIndex != null and pageinfo.paginationSize != null">
			limit #{pageinfo.startIndex},#{pageinfo.paginationSize}
		</if>
	</sql>
	<!-- 排序 -->
	<sql id="orderby_sql">
		ORDER BY a.create_time desc
	</sql>
  <!-- 获取符合条件的学生信息 分页展示 -->
  	<select id="getDataList" resultMap="BaseResultMap">
		SELECT a.*
		FROM front_user a
		<where>
			AND a.deleted=0
			<if test="pageinfo.params != null">
				<if test="pageinfo.params.keyword != null">
					AND a.name like
					CONCAT('%','${pageinfo.params.keyword}','%' )
				</if>
			</if>
		</where>
		<include refid="orderby_sql" />
		<include refid="limit_sql" />
	</select>
	<select id="getDataTotalNum" resultType="java.lang.Integer">
		SELECT count(1)
		FROM front_user a
		<where>
			AND a.deleted=0 
			<if test="pageinfo.params != null">
				<if test="pageinfo.params.userName != null">
					AND a.name like
					CONCAT('%','${pageinfo.params.keyword}','%' )
				</if>
			</if>
		</where>
	</select>
</mapper>